<%#
Bubberchan: an anonymous image board built on Rails
Copyright (C) 2015  Mathew Francis Kirschbaum

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<div id="newpost">
<%= form_for :post, url: posts_path do |f| %>
<br><br>
<table>
    <tr><td>
	    <%= f.label :title %>
    </td><td><div class="input-container">
	    <%= f.text_field :title %> <br><br>
    </div></td></tr><tr><td>
	    <%= f.label :body %>
    </td><td><div class="input-container">
	    <%= f.text_area :body %> <br><br>
    </div></td></tr><tr><td>
	    <%= f.label :image %>
    </td><td><div class="input-container">
	    <%= f.file_field :image, accept: "image/*" %> <br><br>
    </div></td></tr><tr><td></td><td><div class="input-container" id="post-submit-container">
	    <%= f.submit id: "post-submit" %>
    </div></td></tr>
</table>
<% end %>
</div>
