<%#
Bubberchan: an anonymous image board built on Rails
Copyright (C) 2015  Mathew Francis Kirschbaum

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<% title "#{@board.title} | #{meta.site_title}" %>
<h1 id="pagetitle">/<%= @board.shortname %>/: <%= @board.title %></h1>
<h2 id="pagesubtitle"><%= @board.description %></h3>
<button id="formtoggle">New Post</button>
<%= render "form" %>
<hr>

<% Post.where(board_id: @board.id).reverse.each do |p| %>
  <h3><%= link_to p.title, post_full_path(p) %></h3>
  <p><%= escape p.body %></p>
  <%= link_to p.image.url do %>
  	<%= image_tag p.image.thumb.url %>
  <% end %>
  <% if admin? %>
  	<%= button_to "Delete post", post_full_path(p), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <hr>
<% end %>
