<%#
Bubberchan: an anonymous image board built on Rails
Copyright (C) 2015  Mathew Francis Kirschbaum

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<% title "Post \##{@post.id} | #{meta.site_title}" %>

<h1 class="pagetitle"><%= @post.title %></h1>
<p class="main-content"><%= escape @post.body %></p>
<%= link_to @post.image.url do %>
	<%= image_tag @post.image.thumb.url %>
<% end %>
<hr>
<h3>New comment</h3>
<%= form_for :comment, url: post_comments_path(@post, board: @board.shortname) do |f| %>
	<div class="input-container"><%= f.text_area :body %></div>
	<div class="input-container"><%= f.submit %></div>
<% end %>
<hr>
<% @post.comments.reverse.each do |c| %>
	<p class="secondary-content"><%= escape c.body %></p>
	<% if admin? %>
		<%= button_to "Delete comment", post_comment_path(c, post_id: @post.id, board: @board.shortname), method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
	<hr>
<% end %>
