/*
 * Bubberchan: an anonymous image board built on Rails
 * Copyright (C) 2015  Mathew Francis Kirschbaum
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import solarized

$font-stack: Helvetica, sans-serif
$header-height: 2em

body
	font: 100% $font-stack
	overflow: hidden

	div#header
		overflow: hidden
		position: fixed
		width: 100%
		top: 0
		left: 0
		height: $header-height

		ul
			list-style-type: none
			margin: 0
			padding: 0

			li
				float: left

			ul
				float: right

				li

		a.navbar-element
			display: block
			padding: 8px
			text-align: center
			text-decoration: none
			&:hover

			&.active


	div#content
		position: absolute
		top: $header-height
		left: 0
		right: 0
		bottom: 0
		margin: 0 auto
		padding: 0 10px
		max-width: 1200px
		padding-top: 0
		overflow-y: auto

		table
			border-collapse: collapse
			border-spacing: 0

		td
			vertical-align: center

		div.input-container
			margin: .5em 1em
			display: flex
			align-items: center
			&.inline
				float: left
				margin: .5em .25em

			input, textarea
				&:focus
					outline: none
			input[type=text], input[type=password], textarea
				font: 10pt $font-stack
				border: 2px solid
			&#post-submit-container
				float: right
				margin-right: 0

				input#post-submit
					margin-right: 0

		button, input[type=submit]
			cursor: pointer
			display: inline-block
			line-height: 1.8
			appearance: none
			box-shadow: none
			border: none
			&:focus
				outline: none
			&.button-link-in-list
				margin: 2px 0



	div#footer
