/*
 * Bubberchan: an anonymous image board built on Rails
 * Copyright (C) 2015  Mathew Francis Kirschbaum
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Primary styles (custom section, non htmlboilerplate)
 * Author: Ethan Schoonover

$base03: #002b36
$base02: #073642
$base01: #586e75
$base00: #657b83
$base0: #839496
$base1: #93a1a1
$base2: #eee8d5
$base3: #fdf6e3
$yellow: #b58900
$orange: #cb4b16
$red: #dc322f
$magenta: #d33682
$violet: #6c71c4
$blue: #268bd2
$cyan: #2aa198
$green: #859900

=rebase($rebase03, $rebase02, $rebase01, $rebase00, $rebase0, $rebase1, $rebase2, $rebase3)
    *
        color: $rebase0
    body
        background-color: $rebase02
    div#content
        background-color: $rebase03
    h1,h2,h3,h4,h5,h6
        color: $rebase1
        border-color: $rebase0
    h1#pagetitle, h1:first-of-type
        color: $rebase1
    h2#pagesubtitle, h2:first-of-type
        color: $rebase01
    h3#header
        color: $rebase1
    a, a:active, a:visited
        color: $rebase1
    a:hover
        background-color: $rebase02
    div#header
        background-color: $rebase01
        color: $rebase1
        a.navbar-element, a:active.navbar-element, a:visited.navbar-element
            color: $rebase1
        a:hover.navbar-element
            background: transparent
            color: $rebase02
        a.active.navbar-element
            color: $rebase02
            background-color: $rebase1
        a:hover.active.navbar-element

    footer
        background-color: $rebase02
        color: $rebase01
    pre
        color: $rebase1
        background-color: $rebase02
    tr:nth-child(odd)
        background-color: $rebase02
    th
        color: $rebase1
        background-color: $rebase03
    h1 a:hover
        -webkit-text-stroke: 3px $rebase02
    p.main-content
        color: $rebase0
    p.secondary-content
        color: $rebase01
    button, input[type=submit]
        background-color: $rebase02
        color: $rebase01
        &.hover, &:hover
            color: $rebase1
        &.active, &:active
            color: $rebase1
            background-color: $rebase01
    div.input-container
        input[type=text], input[type=password], textarea
            color: $rebase02
            border-color: $rebase02
            background-color: $rebase1
    hr
        display: block
        height: 1px
        border: 0
        border-top: 2px solid $rebase02
        margin: 1em 0
        padding: 0



=accentize($accent)
    a.active.navbar-element
        background-color: $accent
    a, a:active, a:visited, code.url
        color: $accent
    h1
        color: $accent
    h2,h3,h4,h5,h6
        color: $accent
    h1#pagetitle, h1:first-of-type
        color: $accent

html, html.light
    +rebase($base3, $base2, $base1, $base0, $base00, $base01, $base02, $base03)

html.dark
    +rebase($base03, $base02, $base01, $base00, $base0, $base1, $base2, $base3)

html *
    color-profile: sRGB
    rendering-intent: auto
