<%#
Bubberchan: an anonymous image board built on Rails
Copyright (C) 2015  Mathew Francis Kirschbaum

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html class=<%= theme %>>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <%= meta.site_title %>
  <% end %>
</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div id="header">
	<ul>
		<li><%= link_to "Home", root_path, class: "navbar-element " + (!@board ? "active" : "") %></li>
		<% Board.find_each do |b| %>
			<li><%= link_to "/#{b.shortname}/", posts_path(board: b.shortname), class: "navbar-element " + (@board && @board.id==b.id ? "active" : "") %></li>
		<% end %>
		<ul>
			<li><%= link_to "Dark", url_for(), class: "navbar-element", id: "theme-dark", data: {no_turbolink: 'true'} %></li>
			<li><%= link_to "Light", url_for(), class: "navbar-element", id: "theme-light", data: {no_turbolink: 'true'} %></li>
		</ul>
	</ul>
</div>

<div id="content">
	<%= yield %>
</div>

<div id="footer">

</div>

</body>
</html>
